<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="ECT Bootloader Target Platform" sequenceNumber="37">
<locations>
<location path="${eclipse_home}" type="Profile"/>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="se.bitcraze.crazyflie.lib.feature.source.feature.group" version="0.0.1.201710130224"/>
<unit id="se.bitcraze.crazyflie.lib.feature.feature.group" version="0.0.1.201710130224"/>
<repository location="http://fredg02.github.io/se.bitcraze.crazyflie.lib/p2/"/>
</location>
</locations>
<environment>
<os>linux</os>
<ws>gtk</ws>
<arch>x86_64</arch>
<nl>en_US</nl>
</environment>
<launcherArgs>
<vmArgs>-Dosgi.requiredJavaVersion=1.7 -XX:MaxPermSize=256m -Xms256m -Xmx1024m</vmArgs>
</launcherArgs>
</target>
